/*Prevent Problems on Different Browsers*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    background-color: #f1ffff;
}


/* header stuff here */
header {
    background-color: #005c53;
    padding: 1rem 10px;
}
header span {
    color: #d6d58e;
    font-size: 1.6rem;
    font-weight: 600;
}


/* small screen navigation */
@media only screen and (max-width:800px) {
    nav {
        background-color: #042940;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #d6d58e;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
    }
    nav .active a {
        background-color: #d6d58e;
        color: #042940;
        border-radius: 5px;
        background-image: linear-gradient(to bottom, #d6d58e, #8c8b5e);
    }
    nav a:hover {
        color: white;
    }

} /* end small screens */

/* LARGE SCREEN NAVIGATION */
@media only screen and (min-width:801px) {

    nav {
    background-color: #042940;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #d6d58e;
    font-weight: 500;
}
nav li.active a {
    background-color: #d6d58e;
    color: #042940;
}
nav li a:hover {
    color: white;
}
}





/* main stuff here */
main {
    padding: 1rem 10px;
}
main h1 /* "History */ {
    color: #bf1304;
}
main h2 /* "Ancient Beginnings" */{
    color: #005c53;
    margin-bottom: .2rem;
}
main ul h3 /* Bullet Points */{
    margin-bottom: .2rem;
    color: #afae71;
    margin-top: 0.5rem;
}
main ul {
    list-style-type: circle;
    margin-top: 0.7rem;
}
main ul li p /* Stuff below Bullets */{
    margin: 0.1rem;
    color: rgb(72, 68, 68);
    line-height: 125%;
    font-size: .95rem;
}
main strong {
    font-weight: 500;
    color: black;
}
.hero {
    width: 100%;
    height: auto;
}


/* history image stuff here */
figure.early {
    margin: 10px 0 0 10px;
    width: 50%;
    float: right;
}
figure.early img {
    width: 100%;
    height: auto;
}
figure.early figcaption {
    text-align: center;
    font-size: .75rem;
}


/* machines page stuff */
main h1 {
    margin-bottom: 0;
}
main dl dt {
    margin-bottom: .3rem;
    color: #afae71;
    font-size: 22px;
    font-weight: 600;
}
main dl dd {
    margin-left: 1.5rem;
    color: rgb(72, 68, 68);
    font-weight: 400;
}
main ol {
    margin: 0;
    padding: 0rem 30px;
}
main ol a {
    color: #005c53;
}
main ol a:hover {
    color: #bf1304;
}
main ol li h2 {
    font-weight: 600;
}


/* tool gallery stuff */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #005c53;
}
div.gallery img {
    border-radius: 5px;
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* pricing table stuff here */
table.pricing {
width: 100%;
border-collapse: collapse;
}
table.pricing th {
    background-color: #042940;
    color: #d6d58e;
    padding: .6rem 2%;
    text-align: left;
}
table.pricing td {
    color: #042940;
    padding: .4rem 2%;
}
table.pricing tr.mazak, tr.haas {
    background-color: #eee;
}
table.pricing tr:hover {
    background-color: #ddd;
}


/* form crud here */
.subscriber-info {
    margin-top: 20px;
}
.myForm fieldset {
    border: 1px solid #afae71;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #afae71;
    font-size: .95rem;
}
.myForm label {
    margin: .5rem;
}
.myForm label, [type=text], [type=tel], [type=email], .myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm select, .myForm textarea {
    border: solid 1px #005c53;
    padding: .3rem;
    width: 250px;
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.myForm textarea {
    height: 6rem;
}
.myForm :required {
    background-color: rgba(191, 19, 4, 0.1);
}

.myForm [type=submit] {
    background-color: #042940;
    color: #d6d58e;
    border: solid 2px #0e73b1;
    padding: .8rem 1.8rem;
    border-radius: 10px;
    margin: 1rem 0 0 1vw;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}


/* pricing page crud */
a.brochure {
    color: #0e73b1;
}
a.brochure:hover {
    color: #bf1304;
}

main address {
    font-style: normal;
}


/* footer stuff here */
footer address {
    font-style: normal;
    padding: 20px;
    background-color: #d6d58e;
    border-radius: 10px;
    border: 2px solid #042940;
    width: 220px;
    margin-top: 1.5rem;
}
footer a {
    color: #005c53;
}
footer a:hover {
color: #bf1304;
}
footer p {
    background-color: #042940;
    margin-bottom: 0;
    text-align: center;
    padding: 1rem;
    font-size: .875rem;
    color: #0e73b1;
    letter-spacing: 3px;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}