body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    background-color: #f1ffff;
}

/* header stuff here */
header {
    background-color: #005c53;
    padding: 1rem 10px;
}
header span {
    color: #d6d58e;
    font-size: 1.6rem;
    font-weight: 600;
}


/* navigation stuff here */
nav {
    background-color: #042940;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #d6d58e;
    font-weight: 500;
}
nav li.active a {
    background-color: #d6d58e;
    color: #042940;
}
nav li a:hover {
    color: white;
}

/* main stuff here */
main {
    padding: 1rem 10px;
}
main h1 /* "History */ {
    color: #bf1304;
}
main h2 /* "Ancient Beginnings" */{
    color: #005c53;
    margin-bottom: .2rem;
}
main ul h3 /* Bullet Points */{
    margin-bottom: .2rem;
    color: #afae71;
    margin-top: 0.5rem;
}
main ul {
    list-style-type: circle;
    margin-top: 0.7rem;
}
main ul li p /* Stuff below Bullets */{
    margin: 0.1rem;
    color: rgb(72, 68, 68);
    line-height: 125%;
    font-size: .95rem;
}
main strong {
    font-weight: 500;
    color: black;
}

/* machines page stuff */
main h1 {
    margin-bottom: 0;
}
main dl dt {
    margin-bottom: .3rem;
    color: #afae71;
    font-size: 22px;
    font-weight: 600;
}
main dl dd {
    margin-left: 1.5rem;
    color: rgb(72, 68, 68);
    font-weight: 400;
}
main ol {
    margin: 0;
    padding: 0rem 30px;
}
main ol a {
    color: #005c53;
}
main ol a:hover {
    color: #bf1304;
}
main ol li h2 {
    font-weight: 600;
}

/* footer stuff here */
footer address {
    font-style: normal;
    padding: 20px;
    background-color: #d6d58e;
    border-radius: 10px;
    border: 2px solid #042940;
    width: 220px;
    margin-top: 1.5rem;
}
footer a {
    color: #005c53;
}
footer a:hover {
color: #bf1304;
}
footer p {
    background-color: #042940;
    margin-bottom: 0;
    text-align: center;
    padding: 1rem;
    font-size: .875rem;
    color: #0e73b1;
    letter-spacing: 3px;
}
